name: CI

on:
  push:
    branches: main
  pull_request:

jobs:
  pipeline:
    name: Build
    runs-on: ubuntu-latest
    steps:
      - name: Checkout
        uses: actions/checkout@v2

      - name: Prepare
        run: docker build --tag ghcr.io/gaming-platform/service-connect-four-bot .

      - name: Testsuite
        run: docker compose run --build --rm app go test ./...

      - name: Deploy
        if: github.ref == 'refs/heads/main'
        run: |
          echo "${{ secrets.GITHUB_TOKEN }}" | docker login ghcr.io -u "${{ github.actor }}" --password-stdin
          docker push ghcr.io/gaming-platform/service-connect-four-bot
